.foto {
    height: 90%;
    width: 80%;
    max-width: 100%;
    max-height: 100%;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-left: 3%;
}

.backgroundFila{

    background-color:black;
    margin-top: 50px;
    margin-bottom: 100px;
}

.nombreTorneo a {

    color: white !important;
}

.nombreTorneo{

    margin-top: 2%;
    
}

.comentariosTorneos{

    color: white !important;
    font-size: 20px;
    margin-left: 10px;
}